{% extends "partials/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block header %}
<div class='jumbotron'>
    <h1>Track your learning.</h1>
</div>
{% endblock header %}

{% block content %}

<div class="dashboard">
      <h1>Welcome, !</h1>
      <!-- create a "New Meeting" button -->
      <a href="{% url 'meeting' %}" class="button">New Meeting</a>
      <a href="#" class="button">Join Meeting</a>
      <a href="#" class="button">Logout</a>
</div>
<h2>
    <a href="{% url 'cadastro' %}">Register an account</a> to
    make
    your own Learning Log, and list the topics you're learning about.
</h2>
<h2>
    Whenever you learn something new about a topic, make an entry
    summarizing what you've learned.
</h2>

{% endblock %}
