{% extends 'base.html' %}
{% load bootstrap5 %}
{% load widget_tweaks %}

{% block header %}
<div style="margin-left: 100px;">
<h2>Log in to your account.</h2>
</div>
{% endblock header %}

{% block content %}
<div style="margin-left: 100px;">
<section class="container col-8">
<form action="{% url 'login' %}" method="post" class="form">

    {% csrf_token %}
        
        {% for field in form.visible_fields %}
            <label for="{{field.id_for_label}}">{{field.label}}</label>]
            {{field|add_class:'form-control' }}
            <!---insere as regras de estilo do Bootstrap nos
        elementos individuais do formulário quando esses são renderizados--->
            {% bootstrap_form form %}

            {% buttons %}
            <button name="submit" class="btn btn-primary">log in</button>
            {% endbuttons %}
    <!-- 
    DESC. ATRIBUTOS => 
        HIDDEN: elemento ocuto, que pode ser identificado pelo NAME next
        VALUE: diz ao dajngo para onde o usuario deve ser direcionado caso tenha feito logun com sucesso
        -->
        {% endfor %}
</form>
</section>
</div>
{% endblock %}